#navbar {
    display: flex;
    position: relative;
    align-items: center;
    top: 0px;
}

* {
    margin: 0;
    padding: 0;
}

#logo img {
    height: 50px;
    margin: 3px 6px;
}

#logo {
    margin: 5px 22px;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.4rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/*home section*/
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 578px;
    justify-content: center;
    align-items: center;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#home::before {
    content: "";
    position: absolute;
    background: url(bg.jpg) no-repeat center/cover;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: rgb(7, 6, 6);
    text-align: center;
}

#home p {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* services section*/
#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid red;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: rgb(252, 246, 246);

}

#services .box img {
    height: 156px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: 'sans-serif, Times New Roman', Times, serif;
}

/*utility class*/
.h-primary {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.8rem;
    padding: 12px;

}

.h-secondary {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid yellow;
    background-color: red;
    color: white;
    margin: 17px;
    font-size: 1.3rem;
    border-radius: 15px;
    cursor: pointer;
}

.center {
    text-align: center;
}

/* client section*/
#client-section {
    height: 344px;

}

#client {
    display: flex;
    justify-content: center;
    align-items: center;
}

#client img {
    height: 124px;
}

.client-item {
    padding: 34px;
}








body {
    font-family: 'Ubuntu', sans-serif;
}